html {
    background-color: #ffffff;
}

body {
    margin: 0 auto;
    padding: 2em 2em 4em;
    max-width: 800px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.4em;
    color: #000000;
    background-color: #ffffff;
}

  a        
    {
        color: #939598;
        text-decoration: none;
        font-weight: bold;
    }

h1
{
    color: #465da0;
    line-height: 1.3em;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    margin-bottom:0em
}

h2
{
    color: #000000;
    line-height: 1.3em;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
}

h3
{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5em;
    color: #000000;
    text-align: center;
}

h4, h5, h6
{
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5em;
    color: #000000;
}
