html {
    background-color: #ffffff;
}

p
{
    margin: 0 auto;
    padding: .5em .5em 1em;
    max-width: 800px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.7em;
    color: #000000;
}

h1
{
    margin: 0 auto;
    padding: 2em .25em 1em;
    max-width: 1100px;
    font-family: "Alegreya", serif;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.3em;
    color: #465da0;
}

h2
{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.3em;
    text-align: center;
    color: #000000;
}

h3
{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5em;
    text-align: center;
    color: #000000;
}

.social
{
    padding: 40px;
    text-align: center;
}


ul
{
    margin: 0 auto;
    padding: .5em 2em 1em;
    max-width: 700px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.7em;
    color: #000000;
}

  a:link        
    {
        text-decoration: none;
        color: #939598;
    }
  a:visited        
    {
        text-decoration: none;
        color: #939598;
    }
  a:hover       
    {
        text-decoration: none;
        color: #68696b;
    }
  a:active        
    {
        text-decoration: none;
        color: #939598;
    }

hr
{
    max-width: 600px;
    border: 0;
    height: 20px;
    background: url("../images/small_steps2.png");    
}

